*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

html,body{
    display: grid;
    height: 100%;
    place-items: center;
    background: linear-gradient(375deg, #8119bd, #2ede98);
}
.wrapper{
    height: 400px;
    width: 520px;
    position: relative;
    transform-style: preserve-3d;
    perspective: 1000px;
}

.wrapper .card{
    height: 100%;
    width: 100%;
    position: absolute;
    background: #ffffff;
    border-radius: 5px;
    transform: rotateY(0deg);
    padding: 10px;
    transform-style: preserve-3d;
    transition: 0.7s cubic-bezier(0.4,0.2,0.2,1);
}

.wrapper:hover .front-face{
    transform: rotateY(-180deg);
}

.wrapper .card img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.wrapper .back-face{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transform: rotateY(180deg);
}

.wrapper:hover .back-face{
    transform: rotateY(0deg);
}

.wrapper .back-face img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    padding: 5px;
    background: linear-gradient(375deg, #5bd2d8, #50baeb);
}

.wrapper .back-face .info{
    text-align: center;
}

.back-face .info .title{
    font-size: 30px;
    font-weight: 500;
}

.back-face ul{
    display: flex;
}

.back-face ul a{
    display: block;
    height: 40px;
    width: 40px;
    background: linear-gradient(375deg, #1cc7d0, #2ede98);
    text-align: center;
    border: 2px solid transparent;
    line-height: 38px;
    margin: 0 5px;
    border-radius: 50%;
    color: white;
}

.back-face ul a:hover{
    background: none;
    color: #1cc7d0;
    border-color: #1cc7d0;
}
